*.egg-info
*.ipynb
.ipynb_checkpoints
.DS_Store
*.pdf
Pipfile.lock
Pipfile
pdf_exports/
.vscode
__pycache__/
*.py[cod]
*$py.class
build/
dist/
.coverage
.pytest_cache/*
!Sample_Bernoulli.ipynb
!Sample_Poisson.ipynb
